<br>
<form action="/answer" method="GET"> <!--test no method after, default GET I think-->
  <label for="question">Ask away!</label>
  <input id="question" type="text" name="question" placeholder="Type your question here">
  <input type="submit" value="Ask!">
</form>
