<br>
<form action="/answer" method="GET"> <!--test no method after, default GET I think-->
  <h2><label for="question">Ask away!</label><h2>
  <div class="search">
  <input id="question" type="text" name="question" placeholder="Type your question here">
  <input class="button" type="submit" value="Ask!">
  </div>
</form>
